<p id="notice"><%= notice %></p>

<p>
  <strong>Ship:</strong>
  <%= @add_ship_to_alien.ship %>
</p>

<%= link_to 'Edit', edit_add_ship_to_alien_path(@add_ship_to_alien) %> |
<%= link_to 'Back', add_ship_to_aliens_path %>
